h1{
    
    text-align: center;  
    font-size: 3em;
    margin: 5%;
}

#box
{
    width: 90%;
    height: 200px;
    margin: auto;
    background-color: beige;
    border: 10px solid rgb(0, 255, 213);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#box div{
    background-color: burlywood;
    width: 7%;
    height: 150px;
    text-align: center;
    font-size: 5em;
}

section:nth-of-type(1){
    transform: translateY(100px);
}

nav{
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}
ul{
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul,li{
    display: inline-block;
    margin: 0%;
    padding: 0%;
   
}
@media (min-width:700px) {
    h1{
        color: rgb(0, 128, 17);
    }
    
}
@media screen {
    body{
        background: url("profile.jpg");
    }
    
}
